name: node.js
on: push
jobs:
 build:
   runs-on: ubuntu-latest
   strategy:
     matrix:
       node-version: [16.x, 18.x]
   steps:
   - name: checkout
     uses: action/checkout@v2
   - name: setup Node.js ${{ matrix.node-version }}
     
     uses: action/setup-node@v3
     with:
       node-version: ${{ matrix.node-version }}
   - name: install dependencies
     run: npm install
   - name: run tests
     run: npm test
